.about-section{
    width: 100%;
    height: 1840px;
    padding: 64px 0;
}
.about-container{
    width: 75%;
    height: 100%;
    margin: auto;
}
.about-header{
    width: 100%;
    height: 293px;
    margin: 0 0 64px;
}
.year-box{
    text-align: center;
    width: 260px;
    margin: auto;
    height: 36px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #e5383527;
}
.year-box span,i{
font-size: 14px;
color: rgb(107, 0, 0);
}
.about-header h1{
    width: 100%;
    height: 48px;
    margin: 16px 0 16px;
    font-size: 48px;
    text-align: center;
}
.about-header p{
    width: 100%;
    height: 28px;
    font-size: 20px;
    margin: 0 224px 32px;
}
.description{
    width: 896px;
    height: 117px;
    margin: 0 160px 64px;
    font-size: 18px;    
}
.about-box{
    width: 100%;
    height: 196px;
    margin: 0 0 64px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.about{
    width: 384px;
    height: 194px;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 1px 5px 8px 1px rgba(169, 135, 203, 0.242);
}
.about img{
    width: 50px;
    height: 48px;
    margin:  0 0 16px;
}
.about h3{
    width: 100%;
    height: 28px;
    margin:  0 0 8px;
    font-size: 20px;
}
.about p{
    width: 100%;
    height: 48px;
    font-size: 16px;
}
.stats-section{
    width: 100%;
    height: 377px;
    margin: 0 0 64px;
    padding: 64px 16px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 5px 8px 1px rgba(169, 135, 203, 0.242);
    transition: all 0.3s ease;
    transform: scale(1);


}
.statis{
    width: 270px;
    height: 198px;
    padding: 32px;
    border-radius: 12px;
    border: solid 2px rgba(0, 0, 0, 0.079);

}
.stats-section :hover{
    border-color: #e53935;
    transform: scale(1.05); /* 👈 Zoom effekti */

}
.about-size{
    font-weight: 600;
    width: 204px;
    height: 47px;
    font-size: 48px;
    color: rgb(171, 6, 6);
    text-align: center;
}
.about-title{
    font-weight: 510;
    width: 203px;
    height: 55px;
    font-size: 18px;
    text-align: center;
}
.advantage-section{
    width: 100%;
    height: 258px;
    margin: 64px 0;
}
.advantage-section h2{
    width: 100%;
    text-align: center;
    height: 36px;
    font-weight: 600;
    font-size: 30px;
    margin:  0 0 32px;
}
.adv{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adv-box{
    width: 383px;
    height: 189px;
    padding: 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.251);
    border: solid 1px rgba(0, 0, 0, 0.046);
}
.adv-box img{
    width: 100%;
    height: 39px;
    font-size: 36px;
    margin:  0 0 16px;
}
.adv-box h3{
    width: 100%;
    height: 27px;
    font-size: 20px;
    margin: 0 0 8px;
    font-weight: 550;
}
.adv-box p{
    width: 100%;
    height: 47px;
    font-size: 16px;
}
.values-section{
    width: 100%;
    height: 336px;
    margin: 64px 0 0;
    border-radius: 15px;
    padding: 48px 0;
    box-shadow: 1px 5px 15px 1px rgba(169, 135, 203, 0.242);

}
.values-section h2{
    width: 100%;
    text-align: center;
    height: 36px;
    font-weight: 600;
    font-size: 30px;
    margin:  0 0 32px;
}
.val{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.val-box{
    width: 353px;
    height: 189px;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 1px 5px 15px 1px rgba(169, 135, 203, 0.242);

}
.val img{
    width: 100%;
    height: 39px;
    font-size: 36px;
    margin:  0 0 16px;
}
.val-box h3{
    width: 100%;
    height: 27px;
    font-size: 20px;
    margin: 0 0 8px;
    font-weight: 550;
}
.val-box p{
    width: 100%;
    height: 47px;
    font-size: 16px;
}