.contact-section{
  width: 100%;
  height: auto;
  margin: 50px 0;
}
.contact-header{
  width: 80%;
  height: 512px;
  margin: 0 92px;
  padding: 64px 0;
}
.header-text{
  width: 672px;
  height: 88px;
  margin: 0 300px;
}
.contact-form{
  width: 448px;
  height: 248px;
  margin: auto;
}
.header-text h1{
  width: 100%;
  height: 40px;
  margin:  0 0 16px;
  font-size: 36px;
  text-align: center;
  color: red;
}
.header-text p{
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: center;
}
.name-inout{
  width: 100%;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-inout label{
  width: 100%;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px;
}
.name-inout input{
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px black;
}
.surname-input label{
  width: 100%;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 4px;
}
.surname-input input{
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px black;
}
.surname-input{
  width: 100%;
  height: 74px;
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-btt{
  width: 100%;
  height: 52px;
  padding: 14px;
  margin: 24px 0 0;
  font-size: 16px;
  background-color: #d32f2f;
  color: white;
  border-radius: 10px;
  font-weight: 550;
  border: none;
  cursor: pointer;
}
.contact-section {
    display: flex;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background: #f9fbff;
  }
  
  .contact-info {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    gap: 10px;
    font-weight: 600;
    color: #d32f2f;
  }
  
  .contact-sub {
    margin-left: auto;
    color: #333;
    font-weight: 500;
  }
  
  .contact-map {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
  }
  