.navbar{
    width: 100%;
    height: auto;
}
.navbar-hider{
    width: 100%;
    height: 50px;
    padding: 8px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(180, 44, 44);
    
}
.navbar-hider-container{
    width: 88%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-hider-left{
    width: 70px;
    height: 28px;
}
.navbar-hider-right{
    width: 506px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar-hider-right a{
    text-decoration: none;
    color: white;
}
.contact-btn {
    border: 1.5px solid white;
    padding: 6px 12px;
    border-radius: 20px;
    background: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15.5px;
    transition: 0.3s;
  }
  .contact-btn:hover {
    background-color: white;
    color: #b91c1c;
  }
.navbar-body{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 10px 0px rgb(74, 71, 71);
}
.navbar-body-container{
    width: 88%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-body-left{
    display: flex;
    align-items: center;
    gap: 8px;
}
.navbar-body-left img{
    width: 140px;
    height: 36px;
}
.navbar-body-right{
    width: 694px;
    height: 49px;
    display: flex;
    align-items: center;
    gap:15px;
}
.navbar-body-right a {
    text-decoration: none;
    color: #1f2937;
    font-weight: 500;
    position: relative;
  }
.navbar-body-right span{
    color: #ef4444; /* qizil slash */

}
.btn-consult {
    background-color: #dc2626;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .dropdown-btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #ffffff00;
    color: white;
  }

  .btn-consult:hover {
    background-color: #b91c1c;
  }
  .navbar-body-right a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* yozuvdan pastda */
    width: 0%;
    height: 2px;
    background-color: #dc2626; /* qizil chiziq */
    transition: width 0.3s ease;
  }
  
  .navbar-body-right a:hover::after {
    width: 100%;
  }

  .consultation-section {
    position: fixed; /* absolute emas, butun oynani qamrab oladi */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* butun ekran balandligi */
    backdrop-filter: blur(10px);
    z-index: 100; /* yuqoriroq qatlamda */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .consultation-container {
    width: 450px;
    height: 370px;
    background-color: #ffffff;
    z-index: 101;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 30px 30px;
    color: white;
  }
  
  .consultation-container  h2 {
    margin: 0 0 5px;
    color: black;
    font-size: 20px;
  }
  .consultation-container  p {
    margin: 0 0 20px;
    font-size: 14px;
    color: #555;
  }
  .consultation-container  input, .consultation-container  select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1.5px solid #ff0000;
    font-size: 16px;
    box-sizing: border-box;
  }
  .consultation-container  select {
    border-color: red;
  }
  .consultation-container  button {
    width: 100%;
    padding: 15px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .close-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 50px;
    color: #000000;
    cursor: pointer;
  }